.gf-header{
    display: flex;
    justify-content: flex-end;
    background-color: black;

    .link{
        color: antiquewhite;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        background-color: transparent;
        border: none;

    }
    .link:hover{
        text-decoration: underline;
    }
}
