.gf-header{
    display: flex;
    justify-content: flex-end;
    background-color: black;
    justify-content: space-around;

    .link{
        color: antiquewhite;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;

    }
    .link:hover{
        text-decoration: underline;
    }
}
